<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AccelerateFeed" value="https://accelerate-nuget-feed.avaloniaui.net/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AccelerateFeed>
      <add key="Username" value="license" />
      <add key="ClearTextPassword" value="%AvAccelerateKey%" />
    </AccelerateFeed>
  </packageSourceCredentials>
</configuration>
